{% extends "core/base.html" %}

{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Libros usados</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'Home' %}">Inicio</a></li>
              <li class="breadcrumb-item active">Libros usados</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">


        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Libros</h3>
              </div><!-- /.card-header -->

              
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-hover table-head-fixed">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Peridodo</th>
                      <th>Compra</th>
                      <th>Venta</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for libro in libros %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ libro.periodo }}</td>
                      <td>{{ libro.cantidad_compra }}</td>
                      <td>{{ libro.cantidad_venta }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div><!-- /.card-body -->

              
            </div><!-- /.card -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock %}
