{% extends "core/base.html" %}

{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Inicio</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'Home' %}">Inicio</a></li>
              <li class="breadcrumb-item active">Inicio</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Facturas</h5>

                <p class="card-text">
                  Muestra las facturas ingresadas durante un periodo.
                </p>

                <a href="{% url 'Facturas' %}" class="card-link">Facturas</a>
              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">Libros</h5>

                <p class="card-text">
                  Muestra los libros de compra y venta comprados y usados durante todos los periodos.
                </p>

                <a href="{% url 'LibrosComprados' %}" class="card-link">Libros comprados</a>
                <a href="{% url 'LibrosUsados' %}" class="card-link">Libros usados</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">Reporte</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Crédito fiscal</h6>

                <p class="card-text">Muestra el crédito fiscal obtenido durante un periodo.</p>
                <a href="{% url 'CreditoFiscal' %}" class="btn btn-primary">Crédito fiscal</a>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock %}
